<%- include("partials/header")  %>
<%- include("partials/navbar")  %> 
    

    <div class="container">
    <hr>
    <h1>Perguntas</h1>
    <a href="/perguntar" class="btn btn-primary">Perguntar</a>
    <hr>
    <% perguntas.forEach(element => { %>
        <div class="card">
            <div class="card-body">
                <h3><%= element.titulo %></h3>
            </div>
            <div class="card-footer">
                <a  href="/pergunta/<%= element.id %>"  class="btn btn-primary">Responder</a>
            </div>
        </div>
        <br>
        <% }) %>
    </div>

<%- include("partials/footer")  %>

   